n8n_workflows/2_builder.json
{
  "name": "HYDRA Builder",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-builder",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "operation": "lPop",
        "key": "hydra:build_queue"
      },
      "id": "redis-pop-build",
      "name": "Pop Build Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "credentials": {
        "redis": {
          "id": "hydra-redis",
          "name": "HYDRA Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.value || ''}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-build-item",
      "name": "Queue Item Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $json.value || '';\nconst source = JSON.parse(raw);\nreturn [{ json: { source, nichePayload: JSON.stringify(source) } }];"
      },
      "id": "parse-build-item",
      "name": "Parse Queue Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENROUTER_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": $env.MODEL_BUILDER, \"temperature\": 0.4, \"response_format\": {\"type\": \"json_object\"}, \"messages\": [{\"role\": \"system\", \"content\": \"Return valid JSON only with title, description, tags, materials, and price_usd.\"}, {\"role\": \"user\", \"content\": \"Using this queue payload: \" + $json.nichePayload + \" generate an Etsy digital printable listing draft with title, description, 13 tags, materials, and price_usd.\"}]}"
      },
      "id": "call-builder-model",
      "name": "Generate Listing Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        220
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const content = $json.choices?.[0]?.message?.content ?? '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  throw new Error(`Builder returned invalid JSON: ${content}`);\n}\nconst source = $('Parse Queue Item').item.json.source;\nconst niche = String(source.niche ?? '').trim();\nconst title = String(parsed.title ?? parsed.listing_title ?? '').trim();\nconst description = String(parsed.description ?? parsed.listing_description ?? '').trim();\nif (!title || !description) {\n  throw new Error('Builder draft missing title or description');\n}\nconst tags = (Array.isArray(parsed.tags) ? parsed.tags : String(parsed.tags ?? parsed.listing_tags ?? '').split(','))\n  .map((tag) => String(tag).trim())\n  .filter(Boolean)\n  .slice(0, 13);\nconst materials = (Array.isArray(parsed.materials) ? parsed.materials : String(parsed.materials ?? 'digital download').split(','))\n  .map((item) => String(item).trim())\n  .filter(Boolean);\nconst price = Number(parsed.price_usd ?? parsed.price_recommendation_usd ?? parsed.price ?? 4.99);\nconst draftId = `${Date.now()}-${Math.random().toString(36).slice(2, 10)}`;\nconst fingerprint = `${niche}::${title}`.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 120);\nreturn [{\n  json: {\n    draft_id: draftId,\n    fingerprint,\n    niche,\n    source_payload: source,\n    generated_at: new Date().toISOString(),\n    listing_title: title.slice(0, 140),\n    listing_description: description,\n    listing_tags: tags,\n    materials,\n    price_usd: Number.isFinite(price) && price > 0 ? Number(price.toFixed(2)) : 4.99\n  }\n}];"
      },
      "id": "normalize-builder-output",
      "name": "Normalize Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        220
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=draft:{{$json.draft_id}}",
        "value": "={{JSON.stringify($json)}}",
        "expire": true,
        "ttl": 2592000
      },
      "id": "store-draft",
      "name": "Store Draft",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1780,
        160
      ],
      "credentials": {
        "redis": {
          "id": "hydra-redis",
          "name": "HYDRA Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "rPush",
        "key": "hydra:publish_queue",
        "value": "={{JSON.stringify($json)}}"
      },
      "id": "queue-publish",
      "name": "Queue Publish Draft",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "redis": {
          "id": "hydra-redis",
          "name": "HYDRA Redis"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Pop Build Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Build Queue": {
      "main": [
        [
          {
            "node": "Queue Item Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Item Present?": {
      "main": [
        [
          {
            "node": "Parse Queue Item",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse Queue Item": {
      "main": [
        [
          {
            "node": "Generate Listing Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Listing Draft": {
      "main": [
        [
          {
            "node": "Normalize Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Draft": {
      "main": [
        [
          {
            "node": "Store Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Publish Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "versionId": "hydra-builder-v2"
}
